# Keil 编译产物
Objects/
Listings/
*.axf
*.hex
*.o
*.d
*.htm
*.bak
*.lnp
*.map
*.sct
*.dep
*.uvguix
*.iex
*.crf
*.build_log.htm

# Qoder / VS Code
.qoder/
.vscode/
.clangd
compile_commands.json

# JLink 临时文件
JLinkLog.txt
JLinkSettings.ini

# 系统垃圾文件
.DS_Store
Thumbs.db

# IAR 编译输出目录
Debug/
Release/
Obj/
List/
settings/
Output/

# IAR 临时文件
*.ewt
*.wdproj
*.bin
*.a
*.elf
*.ihex
*.srec
*.log
